{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 class="text-center text-uppercase page-header">Creation d'une annonce</h1>
    </div>

    <div class="row">
        {{ form_start(form) }}
            <div class="col-lg-5">
                <h3 class="text-center">Annonce</h3>
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre, {'attr': {"class": "form-control" }}) }}
                
                {{ form_label(form.pieces) }}
                {{ form_widget(form.pieces, {'attr': {"class": "form-control" }}) }}
                
                {{ form_label(form.prix) }}
                {{ form_widget(form.prix, {'attr': {"class": "form-control" }}) }}
                
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {"class": "form-control" }}) }}

                {{ form_label(form.typeAnnonce) }}
                {{ form_widget(form.typeAnnonce, {'attr': {"class": "form-control" }}) }}

                <div style="height:20px;"></div>
                
                <ul class="files list-unstyled" data-prototype="{{ form_widget(form.files.vars.prototype)|e('html_attr') }}">
                    {% for element in form.files %}
                    <li>
                        {{ form_widget(element.file) }}
                    </li>
                    {% endfor %}
                </ul>

                <div style="height:20px;"></div>
                
            </div>
            
            <div class="col-lg-3 col-lg-offset-2">
                <div class="row">
                    <h3 class="text-center">Client</h3>

                    <div class="form-group">
                        {{ form_label(form.client.nom) }}
                        {{ form_widget(form.client.nom, {'attr': {"class": "form-control" }}) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.client.prenom) }}
                        {{ form_widget(form.client.prenom, {'attr': {"class": "form-control" }}) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.client.telephone) }}
                        {{ form_widget(form.client.telephone, {'attr': {"class": "form-control" }}) }}
                    </div>
                </div>
            </div>
            
            
            
    </div>

    <div class="row">
        <div class="col-lg-5">
            <input class="btn btn-block btn-success" type="submit" value="Creer l'annonce" />
        </div>
    </div>
    
    <div style="height:60px;"></div>
    
    <div class="row">
        <div class="col-lg-5">
            <a class="btn btn-default btn-md" href="{{ path('admin_annonce_index') }}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Retour a la liste des annonces
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
