{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Reference de l'annonce</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ annonce.photo }}</td>
            </tr>
            <tr>
                <th>Pieces</th>
                <td>{{ annonce.pieces }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_annonce_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('admin_annonce_edit', { 'id': annonce.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
