{% extends 'base.html.twig' %}

{% block body %}

    
    <h3 class="text-center">{{ annonce.titre }}</h3>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        {% for entity in annonce.files %}
                            {% if loop.index == 1 %}
                                <img class="center-block" src="{{ asset('uploads/images/products/' ~ entity.file) | imagine_filter('my_thumb') }}" alt="{{ entity.nom }}">
                            {% endif %}
                        {% endfor %}
                    </a>
                    <div style="height:20px;"></div>
                    <div class="row">
                        {% for entity in annonce.files %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                            {% set thumb = {"thumbnail": {"size": [150, 150] }} %}
                                <img src="{{ asset('uploads/images/products/' ~ entity.file) | imagine_filter('my_thumb', thumb) }}" alt="{{ entity.nom }}">
                                <div class="caption">
                                    <h3 class="text-center">{{ entity.nom }}</h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <b>Ref de l'annonce :</b>
                        </li>
                        <li>
                            {{ annonce.id }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <b>Nombre de pièces :</b>
                        </li>
                        <li>
                            {{ annonce.pieces }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <b>Prix :</b>
                        </li>
                        <li>
                            {{ annonce.prix }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <b>Description :</b>
                        </li>
                        <li>
                            {{ annonce.description }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <b>Propriétaire :</b>
                        </li>
                        <li>
                            {{ annonce.client }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <b>N° Téléphone :</b>
                        </li>
                        <li>
                            {{ annonce.client.telephone }}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for image in annonce.files %}
                            <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0==0 %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                    
                            {% for entity in annonce.files %}
                            <div class="item {% if loop.index == 1 %} active {% endif %}">
                                {% set rest = {"thumbnail": {"size": [1000, 1000] }} %}
                                <img alt="{{ entity.nom }}" src="{{ asset('uploads/images/products/' ~ entity.file) | imagine_filter('my_thumb', rest) }}"
                                />
                                <div class="carousel-caption">
                                    <h3>{{ entity.nom }}</h3>
                                </div>
                            </div>
                            {% endfor %}
                    
                        </div>
                    
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>

    <div style="height:120px;"></div>

    <div class="row">
        <ul class="list-unstyled">
            <div class="col-lg-4">
                <li>
                    <a class="btn btn-default btn-md" href="{{ path('admin_annonce_index') }}">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Retour a la liste des annonces
                    </a>
                </li>
            </div>
            {% if is_granted('ROLE_USER') %}
                <div class="col-lg-4">
                    <li>
                        <a class="btn btn-warning btn-md" href="{{ path('admin_annonce_edit', { 'id': annonce.id }) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Editer l'annonce
                        </a>
                    </li>
                </div>
                <div class="col-lg-4">
                    <li>
                        {{ form_start(delete_form) }}
                            <button class="btn btn-danger btn-md" type="submit">
                                <span class="glyphicon glyphicon-trash"></span>
                                Supprimer l'annonce
                            </button>
                        {{ form_end(delete_form) }}
                    </li>
                </div>
            {% endif %}
        </ul>
    </div>

    <div style="height:80px;"></div>
    
{% endblock %}