{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="text-center text-uppercase page-header">Liste des clients</h1>
    </div>

    <div style="height:80px;"></div>
    
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">Ref Client</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prenom</th>
                    <th class="text-center">Telephone</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td class="text-center">{{ client.id }}</td>
                    <td class="text-center">{{ client.nom }}</td>
                    <td class="text-center">{{ client.prenom }}</td>
                    <td class="text-center">{{ client.telephone }}</td>
                    <td class="text-center">
                        <a class="btn btn-block btn-info" href="{{ path('admin_client_show', { 'id': client.id }) }}">Profil</a>
                        <a class="btn btn-block btn-warning" href="{{ path('admin_client_edit', { 'id': client.id }) }}">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <a class="btn btn-success btn-block" href="{{ path('admin_client_new') }}">Creer un nouveau client</a>
        </div>
    </div>

    <div style="height:80px;"></div>
    
    
{% endblock %}
